.text-shadow {
    text-shadow: 0px 0px 10px rgb(167, 117, 56);
    font-size: 30px;
    font-weight: bold;
}

.background-img {
    background-image: url('/images/Bakery Background.png');
    height: 645px;
    background-size: cover;
    background-position: center;
}


/* Categories Section */
.categories-section {
    background-color: #fff;
    padding-top: 10px; 
    padding-bottom: 30px
}

.category-cards{
    width: 200px;
    height: 200px;
}

.category-title{
    color:#4b2e1e;
    margin-top: -8px;
}

.headingColor {
    color: #4b2e1e ;
}

/* Featured Section */
.featured-section {
    background-color: #fff5ea;
    padding-top: 10px; 
    padding-bottom: 30px;
}

.featured-cards{
    width: 270px;
}

.add-to-cart{
    background-color: rgb(205, 146, 72);
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold; 
}

.featured-title{
    color:#4b2e1e;
}

.add-to-cart:hover{
    background-color: rgb(65, 46, 22);
    color: white
}

/* Custom cake section */
.custom-cake-section{
    background-color: #fff;
}

.custom-cake-container{
    background-color: #f5dfc5; 
}

.custom-left{
    margin: 40px 4%;
    color: #666;
    max-width: 750px;
}

.custom-right{
    margin: 40px 4%;
    background-color: white;
    border-radius: 50%;
}

.custom-right-icon{
    width: 150px;
    height: 150px;
    font-size: 75px;
    min-width: 150px;
}

/* Why choose us section */
.why-choose-us{
    background-color: #fff5ea;
}

.wcu{
    height: 250px;
    width: 245px;
}

.wcu-icon{
    font-size: 60px;
}

/* Home-Cake-Offer-Section */
.home-cake-offer-container {
    background-image: url('/images/Home-Offer-Cake.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 620px;

    margin-bottom: 40px;
    position: relative;
}

.offer-data{
    position: absolute;
    top: 22%;
    left: 10%;
    color: white;
}



.offer-data-1 {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(167, 117, 56);
}

.offer-data-2 {
    margin-top: -10px;
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
}

.offer-data-3 {
    font-size: 20px;
}

.offer-data-4 {
    font-size: 32px;
    font-weight: bold;
    color: rgb(246, 187, 114);
    margin-top: -10px;
}

.offer-data-5 {
    font-size: 20px;
    margin-top: -10px;
}

.offer-data-6 {
    background-color: rgb(205, 146, 72);
    border: none;
    color: white;
    font-weight: bold;
    padding: 3px 6px;
    cursor: pointer;
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 120px;
    border-radius: 6px;
    font-size: 25px;
}

.offer-data-6:hover{
    background-color: rgb(111, 77, 35);
    color: white
}

/*  Mobile */
@media (max-width: 480px) {
    /* Hero Section */
    .background-img {
        height: 722px;
        background-size: cover;
        background-position: center;
    }

    /* Categories Section */
    .category-cards{
        width: 100px;
        height: 110px;
    }

    .category-title{
        font-size: small;
        margin-top: -7px;
    }

    /* Featured Section */
    .featured-cards{
        width: 160px;
    }

    .featured-title{
        font-size: 11px;
        margin-top: -6px;
    }

    .add-to-cart{
        margin-top: -9px;
        font-size: small;
    }

    /* Custom cake section */
    .custom-left{
        margin: 10px 0%;
    }

    /* why choose us */
    .wcu{
        height: 189px;
        width: 150px;
    }

    .wcu-icon{
        font-size: 30px;
    }

    .wcu-title{
        font-size: 13px;
    }

    .wcu-desc{
        font-size: 10px
    }

    .wcu-container{
        display: flex;
        flex-wrap: wrap;
        padding: 0%;
    }

    /* Offer Section */
   .home-cake-offer-container {
        background-image: url('/images/Home-Offer-Cake.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 228px;

        margin-bottom: 40px;
        position: relative;
    }   
    
.offer-data{
    position: absolute;
    top: 10%;
    width: 100%;
    margin-left: -35px;
    
}

.offer-data-1 {
    font-size: 10px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(167, 117, 56);
}

.offer-data-2 {
    margin-top: -10px;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
}

.offer-data-3 {
    font-size: 10px;
}

.offer-data-4 {
    font-size: 16px;
    font-weight: bold;
    color: rgb(246, 187, 114);
    margin-top: -10px;
}

.offer-data-5 {
    font-size: 10px;
    margin-top: -10px;
}

.offer-data-6 {
    background-color: rgb(205, 146, 72);
    border: none;
    color: white;
    font-weight: bold;

    cursor: pointer;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    border-radius: 6px;
    font-size: 20px;
}
    
}